@using BI_Project.Services.Menus;
@using BI_Project.Models.EntityModels;
@using System.Text.RegularExpressions;
@using BI_Project.Helpers;
@using BI_Project.Services.ReportRequire;
@using System.Web.Mvc.Html;
@model BI_Project.Models.UI.BlockModel

@{
    BI_Project.Services.User.BlockDataMenuLeftModel menuData = (BI_Project.Services.User.BlockDataMenuLeftModel)ViewData["block_menu_left_data"];
    IEnumerable<EntityMenuModel> menuDataUser = (IEnumerable<EntityMenuModel>)ViewData["MenuData"];
    BlockMenuListLangModel blockLang = (BlockMenuListLangModel)Model.LanguageModel;
    var curUserIsSuperAdmin = (bool)Session["IsSuperAdmin"];
    List<EntityDepartmentModel> lstDepartments = (List<EntityDepartmentModel>)ViewData["departments"];
    List<EntityDepartmentModel> lstDepartmentsAdmin = (List<EntityDepartmentModel>)ViewData["listdepartmentsadmin"];
    EntityMenuModel blockData = (EntityMenuModel)Model.DataModel;
    //int hidden = Model.Hidden;
    var currentOrgId = (int?)ViewData["CurrentOrgId"];

    List<ReportRequireModel> lstReport = (List<ReportRequireModel>)ViewData["reportList"];
}

<style>
    .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
        padding-top: 0px;
    }
</style>


<div class="content">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <button class="btn btn-primary" onclick="AddNewReport(0)">Tạo yêu cầu xác nhận báo cáo</button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-heading text-right" id="reportView">
                        @{Html.RenderPartial("_ListRequire", new ViewDataDictionary { { "reportList", lstReport } });
                        }                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--popup add/edit-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="submitForm">
                        <input type="hidden" id="Id" />
                        <div class="form-group">
                            <label for="Title">Yêu cầu báo cáo<span class="required" style="color: red;">*</span></label>
                            <input id="Title" name="Title" type="text" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label for="datepicker">Thời gian xác nhận<span class="required" style="color: red;">*</span></label>
                            <input id="datepicker" name="datepicker" type="text" data-date-format="dd/mm/yy" class="form-control" placeholder="ngày/tháng/năm" />
                        </div>
                        <div class="form-group">
                            <label for="Description">Mô tả</label>
                            <textarea id="Description" class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btnSave"> Gửi </button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>

<!--popup confirm delete-->
<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Xóa yêu cầu báo cáo</h4>
            </div>
            <div class="modal-body">
                <h4>
                    Bạn có chắc chắn muốn xóa <label id="lblTitle"></label>?
                </h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancel</a>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
            </div>
        </div>
    </div>
</div>


<script>

    // popup cửa sổ thêm mới yêu cầu báo cáo
    function AddNewReport() {
        $("#form")[0].reset();
        $("#Id").val(0);
        $("#Title").val('');
        $("#myModal").modal();
    };

    // popup cửa sổ sửa yêu cầu báo cáo
    function EditReport(reportId) {
        var url = "/ReportRequire/GetReportById?reportId=" + reportId;
        $("#myModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                //alert("edit: " + data);
                var obj = JSON.parse(data);

                var arrDMY = obj.ConfirmExpired.substring(0, 10).split("-");
                var dateDDMMYYYY = arrDMY[2] + '/' + arrDMY[1] + '/' + arrDMY[0];

                $("#Id").val(obj.Id);
                $("#Title").val(obj.Title);
                $("#datepicker").datepicker({ dateFormat: "dd-mm-yy" }).val(dateDDMMYYYY);
                $("#Description").val(obj.Description);
            }
        })
    }

    $(document).ready(function () {
        $("#form").validate({
            rules: {
                "Title": { required: true },
                "datepicker": { required: true }
            },
            messages: {
                "Title": { required: "<span class='required' style='color: red;'>Đề nghị nhập tên yêu cầu</span>" },
                "datepicker": { required: "<span class='required' style='color: red;'>Đề nghị nhập ngày xác nhận</span>" }
            }
        });
    });

    // user click vào nút submit trên popup Add/edit
    $("#btnSave").click(function () {
        var data1 = $("#submitForm").serialize();
        var id = document.getElementById("Id").value;
        var title = document.getElementById("Title").value;
        var confirmExpired = document.getElementById("datepicker").value;
        var description = document.getElementById("Description").value;
        var dataform = { 'Id': id, 'Title': title, 'ConfirmExpired': confirmExpired, 'Description': description };

        if (title == '') {
            return;
        }

        if (confirmExpired == '') {
            return;
        }


        $.ajax({
            type: "Post",
            url: "/ReportRequire/Save2",
            data: dataform,
            dataType: "json",
            success: function (result) {                                
                $("#MyModal").modal("hide");                
                $("#reportView").html(result);
            }
        })
    })

    //Show The Popup Modal For DeleteComfirmation
    function DeleteReport(reportId, title) {
        $("#Id").val(reportId);
        document.getElementById('lblTitle').innerHTML = title;

        $("#DeleteConfirmation").modal("show");
    }

    var ConfirmDelete = function () {
        var id = $("#Id").val();
        $.ajax({
            type: "POST",
            url: "/ReportRequire/Delete?reportId=" + id,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                location.reload();
            }
        })
    }

    $(function () {
        $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" }).val()
    });


 </script>